<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-header">
               Crear Profesor
            </div>
            <div class="card-body">
                <form action="/crearProfesor" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                    </div>      
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="apellido" placeholder="Apellido" value="{{apellido}}">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" placeholder="E-Mail" value="{{email}}">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password" 
                        value="{{password}}">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="rol" placeholder="Rol" value="{{rol}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" onclick="profesorCreado();">
                            Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function profesorCreado() {  
        alert("¡Profesor Creado!");
     } 
</script>